<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab965">  <td>19/12/08 11:45:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.launchBrowser()[pri:0, instance:jenkinsTest.HomePageTest@1f554b06]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>19/12/08 11:45:45</td>   <td>12034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.takeHomePageScreenshot()[pri:0, instance:jenkinsTest.HomePageTest@1f554b06]">takeHomePageScreenshot</td> 
  <td>main@1897115967</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>19/12/08 11:45:46</td>   <td>13222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:jenkinsTest.HomePageTest@1f554b06]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1897115967</td>   <td></td> </tr>
</table>
